<div class="row pt-5 me-3 ms-3">
    <div class="card text-center col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-4 col-lg-4 offset-lg-4">
        <div class="card-header">
          Conteo
        </div>
        <div class="card-body">
          <h1 class="card-title" style="font-size: 100px;">{{number}}</h1>
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-danger me-3" (click)="decremento()">- Decrement</button>
          <button class="btn btn-success" (click)="incrementar()">+ Increment</button>
        </div>
      </div>
</div>
